.nav{
    background-color: rgb(185, 105, 105);
    color:grey;
    border: 1px solid black;
    height: 11px;
}
.p {
    font-size: 15px;
    margin-top: 2px;
    margin-bottom: 2px;
    color: darkred;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    grid-area: text;
}
.navt{
    color:rgb(73, 71, 71);
    text-align: left;
    font-size: 10px;
}
body{
    border: 10px solid grey;
}

.item-a{
    grid-area: img01;
}
.item-b {
    grid-area: img02;
}
.item-c {
    grid-area: img03;
}
.item-d {
    grid-area: img04;
}
.item-e {
    grid-area: img05;
}
.item-f {
    grid-area: img06;
}
.item-g {
    grid-area: img07;
}
.item-h {
    grid-area: img08;
}
.item-i {
    grid-area: img09;
}
.item-j {
    grid-area: img10;
}
.item-k {
    grid-area: img11;
}
.item-l {
    grid-area: img12;
}
.item-m {
    grid-area: img13;
}
.item-n {
    grid-area: img14;
}
.item-o {
    grid-area: img15;
}
.item-p {
    grid-area: img16;
}
.item-q {
    grid-area: img17;
}
.item-r {
    grid-area: img18;
}
.item-s {
    grid-area: img19;
}
.item-t {
    grid-area: img20;
}
.item-u {
    grid-area: img21;
}
.footer1{
    grid-area: text;
}
.footer2{
    display: none;
}
.container{
    display:grid;
    gap:1px;
    margin:5px;;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(8, auto);
    grid-template-areas: 
    "img21 img21 img21 img21 img01"
    "img21 img21 img21 img21 img02"
    "img21 img21 img21 img21 img03"
    "img04 img04 img05 img06 img07"
    "img08 img09 img09 img10 img11"
    "img08 img13 img14 img14 img15"
    "img12 img13 img16 img17 img18"
    "img19 img20 img20 . text";
}
img{
    width:95%;
    height: 95%;
}

@media only screen and (max-width:400px) {
    .item-a {
        grid-area: facebook;
        grid-row:2/3;
        grid-column: 1/2;
    }

    .item-b {
        grid-area: twitter;
        grid-row: 3/4;
        grid-column: 1/2;
    }

    .item-c {
        grid-area: mustache_mask;
        grid-row: 2/4;
        grid-column: 5/6;
    }

    .item-d {
        grid-area: birthday;
        grid-row: 4/5;
        grid-column: 1/3;
    }

    .item-e {
        grid-area: joker;
        grid-row: 4/5;
        grid-column: 3/4;
    }

    .item-f {
        grid-area: rainbow;
        grid-row: 4/5;
        grid-column: 4/5;
    }

    .item-g {
        grid-area: pinks;
        grid-row: 4/5;
        grid-column: 5/6;
    }

    .item-h {
        grid-area: music;
        grid-row: 5/7;
        grid-column: 1/2;
    }

    .item-i {
        grid-area: sale;
        grid-row: 5/6;
        grid-column: 2/4;
    }

    .item-j {
        grid-area: candy;
        grid-row: 5/6;
        grid-column: 4/5;
    }

    .item-k {
        grid-area: hats;
        grid-row: 5/6;
        grid-column: 5/6;
    }

    .item-l {
        grid-area: props;
        grid-row: 7/8;
        grid-column: 1/2;
    }

    .item-m {
        grid-area: santa;
        grid-row: 6/8;
        grid-column: 2/3;
    }

    .item-n {
        grid-area: girl;
        grid-row: 6/7;
        grid-column: 3/5;
    }

    .item-o {
        grid-area: shipping;
        grid-row: 6/7;
        grid-column: 5/6;
    }

    .item-p {
        grid-area: party1;
        grid-row: 7/8;
        grid-column: 3/4;
    }

    .item-q {
        grid-area: party2;
        grid-row: 7/8;
        grid-column: 4/5;
    }

    .item-r {
        grid-area: witches;
        grid-row: 7/8;
        grid-column: 5/6;
    }

    .item-s {
        grid-area: black_mask;
        grid-row: 2/4;
        grid-column: 2/3;
    }

    .item-t {
        grid-area: masque;
        grid-row: 2/4;
        grid-column: 3/5;
    }

    .item-u {
        grid-area: logo;
        grid-row: 1/2;
        grid-column: 1/6;
    }
    .container {
        display: grid;
        gap: 1px;
        margin: 5px;
        margin-bottom: 0px;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: repeat(7, auto);
    }
    .p{
        color:black;
        font-size: 50%;
    }
    .footer1{
        display:none;
    }
    .footer2{
        background-color: tan;
        display: flex;
        margin-top:0px;
        border: 1px solid black;
    }
    .nav{
        background-color: tan;
        color: black;
        height:11px;
        margin-top: 0px;

    }
    .navt{
        font-size: 10px;
        color: black;
        text-align: center;
    }
}